@using quan_ly_tai_nguyen_rung.Models.section2
@model PlantFacility
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    @* <input type="hidden" value="CommuneId" id="CommuneId"/> *@
    <div class="form-group">
        <label asp-for="Name">Tên</label>
        <input asp-for="Name" class="form-control" placeholder="Enter name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address">Address</label>
        <input asp-for="Address" class="form-control" placeholder="Address">
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactFace">ContactFace</label>
        <input asp-for="ContactFace" class="form-control" placeholder="ContactFace">
        <span asp-validation-for="ContactFace" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactMail">ContactMail</label>
        <input asp-for="ContactMail" class="form-control" placeholder="ContactMail">
        <span asp-validation-for="ContactMail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ContactPhone">ContactPhone</label>
        <input asp-for="ContactPhone" class="form-control" placeholder="ContactPhone">
        <span asp-validation-for="ContactPhone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Labor">Labor</label>
        <input asp-for="Labor" class="form-control" placeholder="Labor" />
        <span asp-validation-for="Labor" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Acreage">Acreage</label>
        <input asp-for="Acreage" class="form-control" placeholder="Acreage">
        <span asp-validation-for="Acreage" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Trạng thái</label>
        <div>
            @if (Model.Status)
            {
                <span class="badge badge-success">Hoạt động</span>
            }
            else
            {
                <span class="badge badge-danger">Không hoạt động</span>
            }
        </div>
    </div>
    <div class="form-group">
        <label asp-for="SeedlingsYield">Acreage</label>
        <input asp-for="SeedlingsYield" class="form-control" placeholder="SeedLingYield">
        <span asp-validation-for="SeedlingsYield" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CommuneId" class="control-label">Commune</label>
        <select asp-for="CommuneId" asp-items="ViewBag.Communes" class="form-control">
            <option value="">-- Select Commune --</option>
        </select>
        <span asp-validation-for="CommuneId" class="text-danger"></span>
    </div>
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
    </form>
</div>